flipper
yarn
configstore

nvim/plugin/packer_compiled.lua
lvim/plugin/packer_compiled.lua

karabiner/karabiner-config/node_modules
karabiner/automatic_backups/

snippets/index.ts
snippets/main.py
snippets/data.json
