layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
    }

    tab name="servers" cwd="~/repos/wise-rock-trees/wise-rock" {
        pane split_direction="vertical" {
            pane name="api" {
                command "npm"
                args "run" "api:stage"
                start_suspended true
            }
            pane name="web" {
                command "npm"
                args "run" "web"
                start_suspended true
            }
        }
    }

    tab name="dev" cwd="~/repos/wise-rock-trees/wise-rock" {
        pane name="dev" borderless=true
    }

    tab name="agent" cwd="~/repos/wise-rock-trees/wise-rock" {
        pane name="claude" borderless=true {
            command "claude"
            start_suspended true
        }
    }
}
